<h2>All Flights</h2>

<%= link_to 'Add Flight', new_flight_path %>

<p>
Total: <%= pluralize(@flights.length, 'flight') %>
</p>

    <table>
    <tr>
        <th>Flight</th>
        <th>Date</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Plane</th>
        <th>Remaining Seats</th>
    </tr>
    <% @flights.each do |flight| %>
    <tr>
            <td><%= link_to flight.flight, flight_path(flight) %> </td>
            <td><%= link_to flight.departure_date, flight_path(flight)%></td>
            <td><%= link_to flight.origin, flight_path(flight) %></td>
            <td><%= link_to flight.destination, flight_path(flight) %></td>
            <td><%= link_to flight.plane_id, flight_path(flight) %></td>
            <td><%= link_to flight.seats, flight_path(flight) %></td>
        
    </tr>
    <% end %>
    
    </table>