<h2>
    Flight: <%= @flight.flight %>   
</h2>

<table>
    <tr>
        <th>Date</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Plane</th>
        <th>Remaining Seats</th>
    </tr>
    
    <tr>
            
            <td><%= @flight.departure_date %></td>
            <td><%= @flight.origin %></td>
            <td><%= @flight.destination %></td>
            <td><%= @flight.plane_id %></td>
            <td><%= @flight.seats %></td>
        
    </tr>
    